/*.col-xs-*/
@media screen and (max-width: 767px) {


}
/*.col-sm-*/
@media screen and (min-width: 768px) and (max-width: 991px){


}
/*.col-md-*/
@media screen and (min-width: 992px) and (max-width: 1199px){


}
/*.col-lg-*/
@media screen and (min-width:1200){


}

@media screen and (min-width:992px){
	#rl-indent{
		background: url(/img/shadow.png) repeat-y,url(/img/shadow.png) repeat-y right top;
		/*min-height: 600px;*/
	}
	#topSocials{
		padding-top: 20px;
	}
	#logo2{
		position: relative;
		top: 38px;
	}
	#logo{
		 clear: both;
	}
	
/*nav bar*/
.navbar{
	z-index:1;
	margin-left: 12%;
	width: 74%;
	margin-bottom:0px;
}
.narbar-default{
	border:0px;
	width:76%;
}
.navbar .container-fluid{
	padding:0px;
}
#bs-example-navbar-collapse-1{
	padding:0px;
}
.nav li a{}
.dropdown-menu{
	padding:0px !important;
}
ul.navbar li:hover{
	background-color:#50B948!important;
}

#carousel-slider{
	width: 100%;
position: relative;
left: 13px;
}
#carousel-slider .carousel-indicators .active {
width: 12px;
height: 12px;
margin: 0;
background-color: #50B948;
}

#buttons-section{
position: relative;
width: 100%;
top: 10px;
left: 13px;
padding: 15px;
background: url(/img/promo-box.png) no-repeat;
margin-top: 10px;
margin-bottom: 30px;
}
#video-action{
	height: 233px;
background: url(/img/demo.png) repeat;
margin-left: -1px;
padding-bottom: 0px;
width: 100%;
}
#video-action h2{
	font-size: 25px;
	font-weight: bold;
	padding-top: 16px;
	padding-left: 16px;
	padding-bottom: 34px;
}
#video-action p{
	text-align:center;
}
#products{
height: 233px;
margin-left: 13px;
padding-bottom: 0px;
width: 97%;
}
#products h2{
	font-size: 25px;
	font-weight: bold;
	padding-top: 16px;
	padding-left: 16px;
	padding-bottom: 34px;
}

#products div{
	padding-bottom: 20px;
}

/*****footer*****/
#footer{
	padding-top:10px;
	padding-left:20px;
	width: 98.7%;
	height: 186px;
	background: url(/img/ft.png);
	background-repeat: repeat;
	color: #fff;
}
#footer ul{
	list-style:none;
}
#footer ul li{
	font-size:13px;
}
#footer a{
	color: #fff;
}
#footer .footer1{
	padding: 0;
	width: 19%;
}
#footer .footer2{
	padding: 0;
	width: 23%;
}
#footer .footer3{
padding: 0;
position: relative;
left: -30px;
}
#footer .footer4{
padding: 0;
position: relative;
left: -35px;
}
#footer .footer5{
width: 24%;
}
#footer .footer5 h4{
position: relative;
bottom: -100px;
font-size: 13px;
left: -18px;
}
#footer .footer5 a{
position: relative;
top: 15px;
}

#footer .footer6{
	padding:0px;
}
#footer .footer6 ul li{
	padding-right:10px;
	display: inline;
	color:#aeb1ae;
}
#footer .footer6 ul li a{
	color:#aeb1ae;
}
#content{
	min-height:500px;
	clear:both;
	margin-left: 25px;
margin-right: 37px;
margin-bottom: 15px;
}
#content .detail .title{
	font-size:30px;
	background:url(/img/heading-bg.png) no-repeat;
}
#content .detail .passage-wrap{
	background: #ececec;
clear: left;
width: 100%;
margin-left: 0px;
min-height: 500px;
}
#content .detail .passage{
	font-size:28px;
	padding-top:20px;
}
#contactus .queryForm{
	margin-top: 5px;
padding-top: 18px;
padding-bottom: 11px;
background-color: gray;
}

#watchUs .video-item{
	margin-top:10px;
	margin-left:5px;
	margin-right:5px;
	padding-bottom:10px;
	background-color:#50B948;
	float:left;
	display:block;
	width:30%;
}
#watchUs .video-item img{
	display:block;
	width:100%;
}
#watchUs .video-item span.title{
	font-size:20px;
	display:block;
	width:100%;
	word-wrap:normal;
	display:block;
	height:70px;
	background:white!important;
}
#watchUs #video {
	padding-left: 43px;
}
#watchUs #video nav{
	clear:both;
}
#watchUs #video ul.pagination{
	width:30%;
}
#watchUs #video ul.pagination li a{
	width:80px;
	border-radius: 10px!important;
	margin-right: 30px;
}
body{
	font: 13px/1.231 "Trebuchet MS", Arial, Helvetica, sans-serif;
}