/*.col-xs-*/
@media screen and (max-width: 767px) {


}
/*.col-sm-*/
@media screen and (min-width: 768px) and (max-width: 991px){


}
/*.col-md-*/
@media screen and (min-width: 992px) and (max-width: 1199px){


}
/*.col-lg-*/
@media screen and (min-width:1200){


}

@media screen and (min-width:992px){
	#rl-indent{
		/*background: url(/img/shadow.png) repeat-y,url(/img/shadow.png) repeat-y right top;
		*/
		background-image:url(/img/shadow.png),url(/img/shadow.png);
		background-repeat:repeat-y, repeat-y;
		background-position: right top, left top;
		/*min-height: 600px;*/
	}
	.bgCover{
		background-color: white;
		width: 99%;
	}
	#header-slider-wrap{
		border: 5px solid grey;
	}

	#logo1{
		height:211px;
	}
	#logo1 a img{
		height: 212px;
padding-top: 7px;
	}
	#logo{
		 clear: both;
	}
	#topbar2{

	}
	#topSocials{
		left:68px;
	}
	#topSocials img{
		display:inline;
	}

/*nav bar*/
/*tools*/
.nopadding{
	padding:0px !important;
}
.fold-images{
	display:none;
}
.hide-fold{
	width: 58%;
}

.navbar{
	z-index:1;
	width: 100%;
	margin-bottom:0px;
}
.narbar-default{
	border:0px;
	width:76%;
}
.navbar .container-fluid{
	padding:0px;
}
#bs-example-navbar-collapse-1{
	padding:0px;
}
#bs-example-navbar-collapse-1>ul{
	width: 100%!important;
}
#bs-example-navbar-collapse-1>ul>li{
	width: 25%!important;
	font-size: 30px;
  text-align: center;
  background-color: gray;
}
#bs-example-navbar-collapse-1>ul>li>a{
	color:white;
}


#bs-example-navbar-collapse-1>ul>li.active>a{
	color:#808080;
}

#navContainer{
	padding-bottom: 10px;
}

.nav li a{}
.dropdown-menu{
	padding:0px !important;
}
#bs-example-navbar-collapse-1>ul.navbar>li>a:hover{
	background-color:red!important;
}

#banner1 ul.banner-txt li.catalog{
	background: url(/img/icon_bullet-down.png) no-repeat 5px center !important;
	font-weight:bold!important;
	font-size:20px;
}


/*slider*/

#carousel-slider{
	width: 99%;
position: relative;
left: 20px;
}
#carousel-slider .carousel-indicators .active {
width: 12px;
height: 12px;
margin: 0;
background-color: #50B948;
}
#carousel-slider .carousel-inner .item img{
	width:100%!important;
}

#post-section{
	padding: 15px;
}
#post-section img{
	width:100%!important;
}
#video-action{
	height: 300px;
background: url(/img/demo.png) repeat;
}
#video-action h2{
	font-size: 25px;
	font-weight: bold;
	padding-top: 16px;
	padding-left: 16px;
	padding-bottom: 25px;
}
#video-action p{
	text-align:center;
}
#video-action a img{
	padding-left:10%;
	padding-right: 10%;
	width:100%;
}
#products{
height: 497px;
margin-left: 13px;
padding-bottom: 0px;
width: 97%;
}
#products h2{
	font-size: 25px;
	font-weight: bold;
	padding-top: 16px;
	padding-left: 16px;
	padding-bottom: 34px;
}

#products div{
	padding-bottom: 20px;
}
#products .item{
	padding:0px;
}
#products .item a img.positionHelp{
	margin-top: 22px;
	height: 152px;
}

/*****footer*****/
#footer{
	padding-right: 30px;
}

#footer .footer6 ul li{
	padding-right:10px;
	display: inline;
}
#footer .footer6{
	padding-bottom:10px;
	padding-top:10px;
}

.footer-links{
	background-color: #818286;
	    min-height: 185px;
}



.footer-about, .footer-contact, .footer-youtube, .footer-pdf{
	background: url(/img/923x185-bottom-of-home-page-new16.jpg) no-repeat;
	display: block;
}

.footer-about{
	background-position: 0px 0px;
	height: 185px;
	width: 230px;
}
.footer-contact{
	background-position: -230px 0px;
	height: 185px;
	width: 230px;
}
.footer-youtube{
	background-position: -460px 0px;
	height: 185px;
	width: 230px;
}
.footer-pdf{
	background-position: -690px 0px;
	height: 185px;
	width: 230px;
}
/*
#footer{
	padding-top:10px;
	padding-left:20px;
	width: 98.7%;
	height: 186px;
	background: url(/img/ft.png);
	background-repeat: repeat;
	color: #fff;
}
#footer ul{
	list-style:none;
}
#footer ul li{
	font-size:13px;
}
#footer a{
	color: #fff;
}
#footer .footer1{
	padding: 0;
	width: 19%;
}
#footer .footer2{
	padding: 0;
	width: 23%;
}
#footer .footer3{
padding: 0;
position: relative;
left: -30px;
}
#footer .footer4{
padding: 0;
position: relative;
left: -35px;
}
#footer .footer5{
width: 24%;
}
#footer .footer5 h4{
position: relative;
bottom: -100px;
font-size: 13px;
left: -18px;
}
#footer .footer5 a{
position: relative;
top: 15px;
}

#footer .footer6{
	padding:0px;
}
#footer .footer6 ul li{
	padding-right:10px;
	display: inline;
	color:#aeb1ae;
}
#footer .footer6 ul li a{
	color:#aeb1ae;
}
*/
#content{
	min-height:500px;
	clear:both;
	margin-left: 25px;
	margin-right: 37px;
	margin-bottom: 15px;
}
#content .detail .title{
	font-size:30px;
	background: #ececec;
}

#content #aboutUs .passage p{
	line-height: 30px;
}
#content .detail .passage-wrap{
	background: #ececec;
clear: left;
width: 100%;
margin-left: 0px;
min-height: 500px;
}
#content .detail .passage{
	font-size:28px;
	padding-top:20px;
}
#contactus .queryForm{
	margin-top: 5px;
padding-top: 18px;
padding-bottom: 11px;
background-color: gray;
}

#watchUs .video-item{
	margin-top:10px;
	margin-left:5px;
	margin-right:5px;
	padding-bottom:10px;
	background-color:#50B948;
	float:left;
	display:block;
	width:30%;
}
#watchUs .video-item img{
	display:block;
	width:100%;
}
#watchUs .video-item span.title{
	font-size:20px;
	display:block;
	width:100%;
	word-wrap:normal;
	display:block;
	height:70px;
	background:white!important;
}
#watchUs #video {
	padding-left: 43px;
}
#watchUs #video nav{
	clear:both;
}
#watchUs #video ul.pagination{
	width:30%;
}
#watchUs #video ul.pagination li a{
	width:80px;
	border-radius: 10px!important;
	margin-right: 30px;
}
/*product detail view*/
#productdetail .passage-wrap{
	background-color:white!important;
}
#productdetail .passage-wrap .product-section{
	background:url(/img/product-description.jpg) repeat;
	height:400px;
}

#productdetail .passage-wrap .product-section .product-description .title1{
	font-size: 30px;
}
#productdetail .passage-wrap .product-section .product-description .title2{
	font-size: 33px;
font-weight: bold;
margin-top: -11px;
background:url(/img/separator.gif) no-repeat left bottom;
padding-bottom:10px;
}
#productdetail .passage-wrap .product-section .product-description .summary{
	padding:10px 0px;
	background:url(/img/separator.gif) no-repeat left bottom;
	font-size:20px;
	line-height:22px;
}

#productdetail .passage-wrap .product-section .product-description .list{
	font-size: 18px;
font-weight: bold;
padding-left: 18px;
line-height: 7px;
}
#productdetail .passage-wrap .product-section .product-description .list ul{
list-style-type: inherit;
line-height: 10px;
}

#productdetail .passage-wrap .product-section .product-description .list ul li{
line-height: 20px;
}
#productdetail .passage-wrap .product-section .product-image img{
	margin-top: 27px;
	margin-left: -20px;
	max-height: 360px;
}

#productdetail .passage-wrap .product-section .product-image img.color-image2{
	display:none;
}


#productdetail .passage-wrap .product-section .product-rightside{
	min-height: 346px;
	color: white;
}

#productdetail .passage-wrap .product-section .product-rightside .product-tranbox{
	background-color: rgb(131, 128, 128);
	background-color: rgba(136, 134, 134, 0.6);
	min-height:250px;
	margin-top: 20px;
border-radius: 9px;
}
#productdetail .passage-wrap .product-section .product-rightside .product-tranbox .product-side1{
font-size: 32px;
font-weight: bold;
padding-top: 20px;
padding-bottom: 20px;
background:url(/img/separator.gif) no-repeat left bottom;
}

#productdetail .passage-wrap .product-section .product-rightside .product-tranbox .product-colors{
	height: 100px;
	padding: 0px;
	margin-right: 10px;
	margin-top: 10px;
}
#productdetail .passage-wrap .product-section .product-rightside .product-tranbox .product-colors .radio input{
	top:10px;
}

#productdetail .passage-wrap .product-section .product-rightside .product-tranbox .product-actionbuttons{
	padding:4px;
}

#productdetail .passage-wrap .product-section .product-rightside .product-viewbuttons ul{

}

#productdetail .passage-wrap .product-section .product-rightside .product-viewbuttons ul li{
	display:inline;
}
#productdetail .passage-wrap .product-section .product-rightside .product-viewbuttons ul li a{
	color:black;
	font-size:17px;
	display:inline-block;
	width:70px;
	text-align:center;
	margin-left: 15px;
	padding-top: 44px;

}
#productdetail .passage-wrap .product-section .product-rightside .product-viewbuttons ul li a:hover{
	text-decoration: underline;
}
/*
#productdetail .passage-wrap .product-section .product-rightside .product-tranbox .product-colors .color-option .color-option-red{
	padding:0px;
	background-color: red;
	height: 30px;
}
#productdetail .passage-wrap .product-section .product-rightside .product-tranbox .product-colors .color-option .color-option-black{
	padding:0px;
	background-color: red;
	height: 30px;
}
#productdetail .passage-wrap .product-section .product-rightside .product-tranbox .product-colors .color-option .color-option-gray{
	padding:0px;
	background-color:gray;
	height: 30px;
}
*/
#productdetail .passage-wrap .product-section .product-rightside .product-viewbuttons{
	background:url(/img/overlay.png) no-repeat;
	min-height: 67px;
}

#productdetail .feedbacks{
	background:url(/img/feedbacks-bg.jpg) no-repeat;
	 background-size: 100% 100%;
}
#productdetail .feedbacks p{
padding-top: 16px;
padding-left: 14px;
font-size: 20px;
line-height: 19px;
color: #909296;
}

#productdetail .feedbacks h3{
padding-left: 15px;
font-family: cursive;
font-size: 24px;
font-weight: bold;
}

#productdetail .passage-wrap .product-images a img.p-img{
	max-height:90px;
	width:auto;
}
#productdetail .passage-wrap .productInfo{
	clear:both;
	padding-top:25px;
}

#productdetail .passage-wrap .productInfo .tab-content{
	min-height:250px;
	border-bottom:#ddd 1px solid;
	padding: 10px 20px;
	font-size: 16px;
}

#productdetail .passage-wrap .productInfo .tab-content ul{
	list-style-type: square;
}



#productdetail .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
color: white;
cursor: default;
background-color: #50B948;
border: 0px;
border-bottom-color: transparent;
}

#productdetail .nav-tabs>li>a {
margin-right: 2px;
line-height: 1.42857143;
border: 1px solid transparent;
border-radius: 4px 4px 0 0;
background-color: gray;
font-size:20px;
}
.detail .passage p{
	font-size:16px;
}
.detail .passage p a{
	font-size:18px;
	font-weight: bold;
}
.detail .passage p a:hover{
	text-decoration:underline;
	font-size:18px;
	color:blue;
}

#search li.result-item{
	padding-bottom:20px;
	padding-top:10px;
}
#search li.result-item h3:hover{
	text-decoration:underline;
	color:blue;
}
#search li.result-item p:hover{
	color:blue;
}



body{
	font: 13px/1.231 "Trebuchet MS", Arial, Helvetica, sans-serif;
}
